<!DOCTYPE html>
<html lang="en">

<head>
   <%- include('./partials/title'); %>
</head>

<body>
   <%- include('./partials/navbar'); %>
      <div class="container">
         <h1>about PAGE</h1>
      </div>
</body>

</html>